<!doctype html>
<html ng-app="app" lang="en">
  <head>
    <meta charset="utf-8">

    <title>Heavens</title>

    <!-- Stylesheets: -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">

  </head>

  <body>

    <div ng-controller="MainController" class="container-fluid">

      <div class="row">

        <div class="col-sm-8">

          <div class="ingredient" ng-repeat="item in selected | orderShit">
            <h1>{{item.attributes.name}}</h1>
            {{item.attributes.description}}<br>
            {{item.attributes.position}}
          </div>
          


        </div>
        
        <div class="col-sm-4">

          <div class="category" ng-repeat="ingredient in ingredients">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="isActive" ng-change='update(ingredient, isActive)'> {{ingredient.attributes.name}}
              </label>
            </div>
          </div>
          

        </div>

      </div>

    </div>




    <!-- Scipts: -->
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.19.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.min.js"></script>


    <script src="js/app.js"></script>
    <script src="js/MainController.js"></script>
    <script src="js/Parse.js"></script>
    <script src="js/OrderFilter.js"></script>

  </body>

</html>
